---
const today = new Date();
import HeaderLink from './HeaderLink.astro';
---

<footer>
	&copy; {today.getFullYear()} Aaron Bartholomew
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		margin-top: 3em;
		border-top: 4px solid #999;
	}
</style>
