---
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<header>
	<div class="header">
		<h2>
			{SITE_TITLE}
		</h2>
		<h3>{SITE_DESCRIPTION}</h3>
	</div>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
	h3 {
		font-size: medium;
		margin: 0.2em 0 0.5em;
	}
	.header {
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 4px solid #999;
	}
</style>
